@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    background: #0E0D0E;
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 100px;
    position: sticky;
    top: 0;
    background: #000;
}
nav .logo{
    font-size: 50px;
    padding: 0 200px;
    line-height: 100px;
    color: #ffff;
    font-weight: 700;
    float: left;
}
nav ul{
    float: right;
    display: flex;
    column-gap: 50px;
    line-height: 100px;
    padding: 0 200px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
    transition: all .98s;
}
a:hover{
    color: #eadede;
}
#sup{
    padding: 10px 30px;
    background: #e7173d;
    border-radius: 7px;
}
#sup:hover{
    background: #e7173db7;
}
#check{
    display: none;
}
#bars{
    font-size: 30px;
    line-height: 100px;
    color: #ffff;
    float: right;
    padding: 0 200px;
    display: none;
}
.container{
    width: 100%;
    height: auto;
    
    justify-content: center;
    display: flex;
    align-items: center;
}
.form-container{
    width: 100%;
    height: 100vh;
}
.profile-container{
    text-align: center;
    margin-top: 100px;
}
.form-container img{
    width: 200px;
}
.tital-container h1{
    font-size: 50px;
    text-align: center;
    color: #ffff;
    font-weight: 700;
    margin-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
.tital-main h2{
    font-size: 30px;
    text-align: center;
    color: #ffff;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.tital-tell{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.tital-sub{
    width: 80%;
}
.tital-sub p{
    font-size: 20px;
    color: #ffff;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn-container button{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    margin: 0 20px;
    font-size: 20px;
}
#btn-left{
    background: #01b3ff;
    border: 0;
    outline: 0;
}
.services{
    width: 100%;
    height: 100vh;
    
}
.formmet-container{
    width: 100%;
    height: 70vh;
    /* background: #602020; */
    justify-content: center;
    display: flex;
    align-items: center;
}
.form-card{
    width: 350px;
    height: 400px;
    background: #191919;
    border-radius: 10px;
    margin: 0 20px;
    flex-wrap: wrap;
}
.icon{
    text-align: center;
}
.fa-briefcase,
.fa-user,
.fa-layer-group{
    font-size: 80px;
    margin-top: 45px;
    color: #fd1a50;
}
.name-card{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 500;
    color: #ffff;
    
}
.xx-card{
    justify-content: center;
    align-items: center;
    display: flex;
}
.card-coption{
    width: 80%;
    height: auto;
    margin-top: 20px;
}
.id-coption{
    text-align: center;
}
.id-coption p{
    font-size: 18px;
    color: #ffff;
    font-family: 'Josefin Sans', sans-serif;
}
.btn-card{
    text-align: center;
}
.btn-card button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: #eadede;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    background:  #fd1a50;
}
.btn-card button:hover{
    background: #1B191B;
    border: 2px solid #012bff;
}
.sub-container{
    width: 100%;
    height: 40vh;
    background: #1B191B;
    justify-content: center;
    align-items: center;
    display: flex;
}
.sub-center p{
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffff;
}
.btn-center{
    text-align: center;
}
.btn-center button{
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px;
    background: #fd1a50;
    border: 1px solid black;
}
.btn-center button:hover{
    background: #191919;
    border: 2px solid blue;
    color: #ffff;
}
.container-foot{
    width: 100%;
    height: 30vh;
    background: #0E0D0E;
    justify-content: center;
    align-items: center;
    display: flex;
}
.foot-center h1{
    font-size: 25px;
    color: #ffff;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
.foot-center p{
    font-size: 18px;
    color: #ffff;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 10px;
}
.icon-footer{
    text-align: center;
}
.icon-footer .fa-facebook,
.fa-youtube,
.fa-envelope{
    font-size: 25px;
    color: #eadede;
    margin: 20px 5px;
}
.fa-facebook:hover{
    color: #012bff;
    transition: all 0.90s;
}
.fa-youtube:hover{
    color: #e7173d;
    transition: all 0.90s;
}
.fa-envelope:hover{
    color: #0cb10c;
    transition: all 0.90s;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    nav .logo{
        padding: 0 40px;
        font-size: 35px;
    }
    nav ul{
        display: none;
    }
    #bars{
        display: block;
        padding: 0 40px;
        cursor: pointer;
        font-size: 35px;
    }
    nav ul{
        display: block;
        width: 100%;
        height: 100vh;
        background: #0E0D0E;
        padding: 0 30px;
        left: -100%;
        position: absolute;
        margin-top: 100px;
    }
   
    #check:checked ~ ul{
        left: 0;
    }
    .btn-container button{
        margin-top: 20px;
    }
    .profile-container{
        margin-top: 30px;
    }
    .profile-container img{
        width: 150px;
    }
    .tital-container h1{
        font-size: 30px;
    }
    .tital-main h2{
        font-size: 20px;
    }
    .tital-sub p{
        font-size: 18px;
    }
    .btn-container button{
        width: 150px;
        height: 40px;
        border-radius: 50px;
        margin: 0 10px;
        font-size: 18px;
    }
   .formmet-container{
        flex-direction: column;
        width: 100%;
        height: 180vh;
   }
   .form-card{
        margin-top: 30px;
        width: 300px;
        height: 400px;
   }
.fa-briefcase,
.fa-user,
.fa-layer-group{
    font-size: 50px;
    /* margin-top: 45px; */
    color: #fd1a50;
}
   .sub-container{
        width: 100%;
        height: 30vh;
   }
   .sub-center p{
        font-size: 20px;
   }
   .foot-center h1{
        font-size: 20px;
   }
   .foot-center p{
        font-size: 12px;
   }
.icon-footer .fa-facebook,
.fa-youtube,
.fa-envelope{
    font-size: 20px;
}
.container-foot{
    width: 100%;
    height: 25vh;
}

}


