@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #0E0D0E;
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 100px;
    position: sticky;
    top: 0;
    background: #000;
}
nav .logo{
    font-size: 50px;
    padding: 0 200px;
    line-height: 100px;
    color: #ffff;
    font-weight: 700;
    float: left;
}
nav ul{
    float: right;
    display: flex;
    column-gap: 50px;
    line-height: 100px;
    padding: 0 200px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
    transition: all .98s;
}
a:hover{
    color: #eadede;
}
#sup{
    padding: 10px 30px;
    background: #e7173d;
    border-radius: 7px;
}
#sup:hover{
    background: #e7173db7;
}
#check{
    display: none;
}
#bars{
    font-size: 30px;
    line-height: 100px;
    color: #ffff;
    float: right;
    padding: 0 200px;
    display: none;
}
.container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.form .tital{
    font-size: 60px;
    color: #ffff;
    font-weight: 700;
    text-align: center;
}
.box-card input{
    width: 350px;
    height: 45px;
    padding: 0 10px;
    border-radius: 5px;
    margin: 10px 20px;
    font-size: 15px;
    border: 0;
    /* border: 0.1rem solid #e7173d; */
    outline: none;
}
.big-form {
    text-align: center;
}
.big-form textarea{
    width: 750px;
    height: 300px;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.btn-card button{
    padding: 10px 40px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 18px;
    background: #e7173d;
    color: #ffff;
    margin: 0 15px;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    nav .logo{
        padding: 0 40px;
        font-size: 30px;
    }
    nav ul{
        display: none;
    }
    #bars{
        display: block;
        padding: 0 40px;
        cursor: pointer;
        font-size: 30px;
    }
    nav ul{
        display: block;
        width: 100%;
        height: 100vh;
        background: #0E0D0E;
        padding: 0 30px;
        left: -100%;
        position: absolute;
        margin-top: 100px;
    }
   
    #check:checked ~ ul{
        left: 0;
    }
    .form{
        text-align: center;
    }
    .form .tital{
        font-size: 35px;
        margin-top: 20px;
    }
    .big-form textarea{
        width: 300px;
        height: 200px;
        margin-top: 20px;
    }
    .btn-card button{
        padding: 10px 40px;
        margin: 10px 22px;
    }
    .box-card input{
        width: 300px;
        height: 45px;
    }

}